@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    color: #636464;
}

/*    NAVIGATION FIXED    */

.navigation-fixed .navigation-wrapper{
    position: fixed;
    width: 100%; 
}

.navigation-fixed .navigation{
    transition: all 1s;
    background-color: #ffffff;
    color: #01affa;
}

.navigation-fixed .box1{
    padding-top: 50px;
}

/*   END NAVIGATION FIXED    */

.navigation-tablet{
    display: none;
}

.ul-menu2{
    display: flex;
    list-style: none;
    font-weight: 700;
}

.ul-menu2 li{
    padding-right: 20px; 
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: #01affa;
    color: #fff;
}

.title{
    font-size: 18px;
    font-weight: 600;
}

.icon-nav{
    font-size: 23px;
    padding-right: 30px;
}

/* NAVIGATION PHONE */

#navigation-phone{
    max-height: 0px; 
    overflow: hidden;
    background-color: #333333;
    color: #ffffff;
    transition: all 0.5s ease;
}

.menu-list{
    padding-bottom: 20px;
}

.menu-list li{
    padding-top: 20px;
    padding-left: 20px;
}



/* END NAVIGATION PHONE */

.box1{
    background-image: url('images/background-header.jpg');
    background-size: cover;
    background-position: center;
}

.text-icons{
    text-align: center;
    padding: 0px 30px 0px 30px;
}

.text1{
    font-size: 48px;
    color: #fff; 
    padding-top: 35px;
}

.subtext1{
    font-size: 20px;
    color: #fff; 
    padding-top: 30px;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

.icons a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.icons li{
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px 40px 10px 40px;
    background-color: rgba(0, 191, 255, 0.568);
}

.icons li.icons1{
    margin-bottom: 15px; 
}

.imagebox1{
    display: flex;
    justify-content: center;
    padding-top: 28px;
    padding-bottom: 40px;
}

/*        BOX 2          */

.headerbox{
    text-align: center;
    padding-top: 50px;
}

.subtitle2{
    padding-top: 20px;
    padding-bottom: 30px;
}

.box2{
    padding: 0px 40px 50px 40px;
    background-color: #f8fafc;
}

.ul-box2{
    list-style: none;
    /* padding: 30px; */
}

.ul-box2 li{
    display: flex;
}

.ul-box2 h1{
    font-size: 28px;
    color: #01affa;
    padding-top: 30px;
    padding-bottom: 10px;  
}

.ul-box2 span{
    font-size: 18px;
}

.ul-box2 .icon{
    color: #01affa;
    font-size: 55px;
    display: flex;
    /* flex-direction: column-reverse; */
    padding-right: 30px;
    padding-top: 35px;
}


/*        BOX 3          */

.image3{
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 400px;
}

.text3{
    background-color: #01affa;
    color: white;
    text-align: left;
    padding: 50px;
}

.subtext3{
    padding-top: 20px;
}

/*        BOX 4          */

ul.ul-fotos4-desktop{
    display: none;
} 

.ul-fotos4{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.ul-fotos4 li{
    background-color: #f8fafc;
    padding: 20px;
}

.foto-pessoa{
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 390px;
}

.ul-fotos4 figcaption{
    text-align: center;
}

#nome{
    padding-top: 20px;
    font-size: 15px;
}

#cargo{
    padding-top: 8px;
    font-size: 13px;
}

.ul-icons4{
    list-style: none;
    display: flex;
    justify-content: center;
    color: #01affa;
    padding-top: 20px;
}

.ul-icons4 li{
    padding-right: 10px;
    font-size: 19px;
}

/*        BOX 5          */

.box5{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #01affa;
    color: #fff;
    padding-bottom: 50px;
}

#title5{
    padding-top: 45px;
}

#subtitle5{
    padding-top: 30px;
}

#input5{
    background-color: #01affa;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 380px;
    height: 45px;
    margin-top: 30px;
}

#input5::placeholder{
    color: #fff;
    font-size: 17px;
    padding-left: 10px;
}

#btn5{
    width: 380px;
    height: 45px;
    background-color:rgba(255, 255, 255, .1);
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 17px;
    color: #fff;
    margin-top: 15px;
}

/*        BOX 6          */

.box6{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #333333;
   color: #636464;
}

.icons6{
    list-style: none;
    display: flex;
    padding-bottom: 60px;
}

.icons6 li{  
    padding-right: 20px;    
}

#texto61{
    padding-top: 65px;
    padding-bottom: 20px;
}

@media (min-width: 768px){
    .navigation-tablet{
        display: block;
    }

    .navigation-tablet p.title{
        padding-left: 10px;
        padding-top: 20px;
    }

    .ul-menu2{
        padding-top: 20px;
    }

    .navigation-mobile{
        display: none;
    }

    ul.ul-fotos4-desktop{
        display: none;
    } 

    .ul-fotos4{
        display: flex;
        flex-direction: row;
    }

    .text3 p{
        font-size: 20px;
    }

    #subtitle5{
        font-size: 20px;
    }

    .icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 20px;
    }

    .icons li{
        margin-right: 10px;
    }

    .icons2{
        margin-bottom: 12px;
    }

    .image-box1{
       height: 90%;
       width: 95%;
    }

}

@media (min-width: 1024px){
    .navigation{
        padding: 30px;
        align-items: center;
    }

    .navigation .ul-menu2{
        padding-right: 70px; 
    }

    .box1{
        display: flex;
        align-items: center;
        padding: 0px 70px 0px 70px;
    }

    .text-icons{
        text-align: left;
    }

    .image-box1{
        height: 900px;;
        width: 550px;
        padding-top: 100px;
    }

    .ul-box2{
        display: flex;
        align-items: center;
        padding: 0px 70px 50px 70px;
    }

    .ul-box2 li{
        padding: 25px;
    }

    article.image-text3{
        display: flex;
        justify-content: center;
    }

    .image3{
        height: 300px;
        width: 500px;
    }

    .text3{
        height: 200px; 
        width: 500px;
    }

    .box4{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .ul-fotos4{
        display:none;
    }

    ul.ul-fotos4-desktop{
        display: flex;
        justify-content: center;
    }

    .ul-fotos4-desktop li{
        margin-left: 10px;
    }

    .foto-pessoa{
        width: 220px;
        height: 220px;
    }

    .input-btn5{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    #input5{
       margin-right: 15px; 
       width: 450px;
       color: #fff;
       font-size: 17px;
       padding-left: 10px;
    }

    #btn5{
        width: 120px;
        height: 50px;
    }
}

